{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body_class %}{% endblock %}

{% block content %}
<form method="post" action="{% url 'password_reset' %}">
  {% csrf_token %}

  <div class=" grid-template">
    <div class="container-left bg-login-section ">
      <img class="mx-auto" src="{% static 'home/assets/src/images/logo-novadata.png' %}">
    </div>
    <div class="container-right">
      <!--login-->
      <div class="form-box rounded-lg p-32 border border-neutral-10 shadow-lg bg-white w-[25rem]" js-animate>
        <div class="titulo">
          <h2 class="text-primary-pure text-[2rem] font-semibold leading-150 tracking-tight"> Email enviado!</h2>
          <p class="mt-16 text-base text-neutral-50 font-medium leading-140">Sua senha foi redefinida com sucesso! Verifique seu e-mail e faça seu login.</p>
        </div>

        <div class="btn-container mt-32">
          <a href="{% url 'login' %}" class="btn icon-left h-48 w-full">
            Redefinir minha senha
            <svg>
              <use xlink:href="#icon_btnEntrar"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block extra_js %}
<script>
  function removePadding() {
    const container = document.querySelector('.container-main')
    container && (container.style.paddingLeft = '0px')
  }

  (function init() {
    removePadding()
    GLOBAL.removeSidebar() // Global
  })()
</script>
{% endblock %}