<script>
  window.subMenuItens = {}

  subMenuItens = [
    {
      name: "Dashboard",
      slug: "dashboard",
      //submenu 1
      submenu: {
        level: 1,
        items: [{
          name: "Sublink 1",
          slug: "sublink_1",
          link: "https://www.google.com/",
        },
        ]
      }
    },

    {
      name: "Link 1",
      slug: "link_1",
      //submenu 1
      submenu: {
        level: 1,
        items: [{
          name: "Sublink 1",
          slug: "sublink_1",
          link: "https://www.google.com/",
        },
        ]
      }
    },
  ];
</script>